openapi: 3.0.3
info:
  title: Explay - API 0.3.0
  version: 0.3.0
  description: |-
    Especificações para integração com a API da plataforma Explay
  contact:
    name: Explay
    url: https://api.whatsapp.com/send?phone=5516997744203
servers:
  - url: https://api-usinalins.explay.app.br/external/v1
tags:
  - name: User
    description: Gerencimaneto de usuários
paths:
  /users:
    get:
      tags:
        - User
      summary: Lista usuários
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
    post:
      tags:
        - User
      summary: Cadatra um novo usuário
      requestBody:
        content:
          application/json:
            example:
              name_user: Ricardo da Silva
              email: ricardo@example.com
              custom_fields:
                cpf: 000.000.000-00
                telefone: (00) 00000-0000
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserWithCustomField'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable
          content:
            application/json:
              example:
                validation_errors:
                  name_user:
                    - Este campo é obrigatório
                  email:
                    - Este campo é obrigatório
  /users/{id}:
    get:
      tags:
        - User
      summary: Visualiza usuário por ID
      parameters:
        - name: id
          in: path
          description: id do usuário
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserWithCustomField'
        '401':
          description: Unauthorized
    put:
      tags:
        - User
      summary: Atualiza um usuário.
      parameters:
        - name: id
          in: path
          description: id do usuário
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            example:
              name_user: Ricardo Almeida
              email: ricardo-almeida@example.com
              custom_fields:
                cpf: 111.111.111-11
                telefone: (11) 11111-1111
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserWithCustomField'
        '401':
          description: Unauthorized

components:
  schemas:
    User:
      type: object
      required:
        - name_user
        - email
      properties:
        id_user:
          type: integer
          format: int64
          example: 10
        name_user:
          type: string
          example: João Pinheiro
        email:
          type: string
          example: email@example.com
        created_at:
          type: string
          example: '2020-10-10'
        updated_at:
          type: string
          example: '2020-10-11'
    UserWithCustomField:
      type: object
      required:
        - name_user
        - email
      properties:
        id_user:
          type: integer
          format: int64
          example: 10
        name_user:
          type: string
          example: João Pinheiro
        email:
          type: string
          example: email@example.com
        ind_admin:
          type: boolean
          example: true
          description: Define se o usuário é administrador do sistema.
          default: false
        created_at:
          type: string
          example: '2020-10-10'
        updated_at:
          type: string
          example: '2020-10-11'
        custom_fields:
          type: array
          items:
            $ref: '#/components/schemas/CustomField'
    CustomField:
      type: object
      properties:
        id_custom_field:
          type: integer
          format: int64
          example: 10
        name_custom_field:
          type: string
        description:
          type: string
        help:
          type: string
        integration_key:
          type: string
          example: codigo_interno
          description: O valor do campo deve ser único.
        required:
          type: boolean
          example: true
        created_at:
          type: string
          example: '2020-10-10'
        updated_at:
          type: string
          example: '2020-10-11'
        answers:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldAnswer'
    CustomFieldAnswer:
      type: object
      properties:
        id_custom_field_answer:
          type: integer
          format: int64
          example: 10
        short_text_answer:
          type: string
        long_text_answer:
          type: string
        numeric_answer:
          type: integer
        id_custom_field:
          type: integer
          format: int64
          example: 10
        created_at:
          type: string
          example: '2020-10-10'
        updated_at:
          type: string
          example: '2020-10-11'
